* {
  margin: 0;
  padding: 0;
}

h1,
h2,
section,
aside {
  text-align: center;
  padding-bottom: 20px;
  transition: all 200ms;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  transition: all 200ms;
}

button {
  font-size: 18px;
  transition: all 200ms;
  padding: 10px;
  border: 3px inset gray;
  border-radius: 5px;
}
.fbButton {
  background: #4267B2;
  color: white;
}
.twtrButton {
  /* background: #1C95E0; */
  background-image: url('https://github.com/Chazensign/vanillajs-1-mini/blob/master/twitter.jpg');
  background-size: cover;
  width: 130px;
  height: 50px;
}
main {
  padding: 50px;
  transition: all 200ms;
}
